*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    color: white;
    background-color: rgb(58, 58, 58);
    height: 6rem;
    padding: 0.7rem;
}

header h1{
    text-transform: uppercase;
}
footer{
    width: 100%;
    color: white;
    background-color: rgb(58, 58, 58);
    height: 4rem;
    padding: 0.7rem; 
}

/* Categories */
/* #categoriesNav {
	width: 100%;
	list-style: none;
	
}

#categoriesNav,
#categoriesNav ul li {
	display: flex;
	padding: 0;
	margin: 0;
}

#categoriesNav ul {
    display: flex;
    list-style: none;
    width: 100%;
    overflow: hidden;
  
}
#categoriesNav ul li {
    background-color: aqua;
    padding: 10px;
    margin: 5px;
	flex-basis: 5%;
	flex-shrink: 1;
	flex-grow:1;
flex-wrap: wrap;
}
*/
#categoriesNav ul li a {
    text-decoration: none;
	justify-content: center;
	padding: 0.5em;
    /* background-color: aqua; */
} 

#categoriesNav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  #categoriesNav li {
    flex-basis: 10%; /* Adjust this value as needed */
    padding: 0.5em;
  }

/*products*/

#productDisplay section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.productCard{
    display: inline-block;
    border: 2px solid black;
    border-radius: 1em;
  width: 20em;
margin: 1em;
  
}

.productCard img{
  
    width: 90%;
}
